- dates_with_counts = @cms_site.blog_posts.published.group(:year, :month).order(year: :desc, month: :desc).count
- dates_with_counts.each do |(year, month), count|
  %li
    - date = [I18n.t("date.month_names")[month.to_i], year].join(" ")
    - site_path = @cms_site.url(relative: true)
    = link_to date, comfy_blog_posts_of_month_path(site_path, year: year, month: month)
    %small (#{count})
